*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:white;
}
#nav{
    background-color: rgb(82, 152, 82);
    height: 100px;
    width: 100%;
    /* background-color: lightseagreen; */
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#nav-part1{
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin: 5px;
    padding: 5px;

}
/* #nav-part2
{
    
} */
#nav-part3{
    margin: 5px;
    padding: 10px;
}
#nav h1{
    /* font-size: 100px;
    font: weight 40px; */
    text-transform: uppercase;
}
#nav button{
    border: 2px solid green;
    border-radius: 50px;
    padding: 5px;
}
#btn2{
    color: #fff;
    background-color: orangered;
}
#adv1{
    font-size: 60px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-transform: uppercase;
width: 100%;
text-align: center;
}
img{
    height: 470px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
}
#img1{
    transform: translate(-50%,-50%) rotate(-25deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-15deg);
}
#img4{
    transform: translate(-50%,-50%) rotate(-10deg);
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
   
}